<header class="picture"><%= encabezado %></header>
<section>
	<b>Nombre:</b>Buzz Light
    <b>Profesión:</b>Astronauta 
    <br>
    <iframe src="https://www.youtube.com/embed/qVj3eqou9aE" allowfullscreen></iframe>
</section>	 
