body{
	background: #999;
}

#container{
	content: "Wide Layout";
}

main{
	margin: 0 auto;

	*width: 802px;
	*text-align: center;
}

nav,section{
	display: inline-block;
	height: 200px;
	vertical-align: top;
}

nav{
	width: 15%;
}

nav span{
	margin:0px 100px 0px 0px;
}

section{
	background: #eee;
	width: 80%;
	*margin:0 2%;
}

.picture {
  height:80px;
  width: 90px; 
  -moz-box-shadow: -1px -1px #888;
  -webkit-box-shadow: -1px -1px #888;
  border-radius: 24px;
  background-image: url(/images/images_wide.jpg);
  float: left;
}  