<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %> <p>
	Categoría: <%= quiz.categoria %> <p>
	<input type="text" name="respuesta" value="Respuesta">
	<input type="submit" value="Enviar">
</form>